{% extends "_base.html" %}

{% block content %}

    {% if user.is_authenticated %}
        <br>
        Welcome again, {{ user.username }}
        <form action="{% url 'logout' %}" method="post">{% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
        <br>

    {% else %}
        <br>
        <p>Hi, you're not currently registrated</p>
        <a href="{% url 'login' %}">Log In</a> |
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}

    {% for post in post_list %}
        <ul>
            <li>
                <a href="{% url 'detail' post.pk %}">{{ post.title }}</a>
            </li>
        </ul>
    {% endfor %}
{% endblock content %}